
* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: blueviolet;
      }


.header-container {
  
    width: 100%;
    height: 100%;
    align-items: end;
    justify-content: center;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
   background-color: rgb(43, 226, 73);
   color: white;
   padding: 10px 20px;
   
}